body{
    text-align: center;
    background-image: url('https://github.com/murumba631/Delani-studio/blob/master/assets/backgrounds/h_img.jpg');
    background-repeat: no-repeat;
}
#dev-paragraph{
    display: none;
}
#des-paragraph{
    display: none;
}
#product-paragraph{
    display: none;
}