html{
    scroll-behavior: smooth;
}
#page-head{
    background: url('https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true');
    text-color
}
body{
    text-align: center;
    background-repeat: no-repeat;
}
#dev-paragraph{
    display: none;
    column-count: auto;
}
#des-paragraph{
    display: none;
    column-count: auto;
}
#product-paragraph{
    display: none;
    column-count: auto;
}