html{
    scroll-behavior: smooth;
}
#page-head{
    background: url('https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true');
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
#delani-logo{
    padding-top: 5%;
    padding-bottom: 5%;
}
#mouse-logo{
    padding-top: 10%;
}
body{
    text-align: center;
    background-repeat: no-repeat;
}
#dev-paragraph{
    display: none;
    column-count: auto;
}
#des-paragraph{
    display: none;
    column-count: auto;
}
#product-paragraph{
    display: none;
    column-count: auto;
}